nav{
    font-family: 'poppins';
}

#btn-contact button{
    word-spacing: 20px;
}

/* Education and Experience Section */

.timeline{
    position: relative;
    width: 100%;
}

.cont{
    position: relative;
    padding: 10px 50px;
    width: 50%;
    /* background-color: beige; */
}

.text-box{
    padding: 20px 30px;
    background: rgb(18, 18, 18);
    position: relative;
    border-radius: 10px;
    color: gray;
}

.left-cont{
 left: 0;
}

.right-cont{
  left: 50%;
}


.dott{
    position: absolute;
    width: 40px;
    right: -6px;
    top: 25px;
    z-index: 10;
}

.right-cont .dott{
    left: -10px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    top: 0;
    right: 50%;
    margin-left: -3px;
}

.left-cont-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 15px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom:15px solid transparent;
    border-left: 15px solid rgb(18, 18, 18);
    right: -15px;

}

.right-cont-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 15px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom:15px solid transparent;
    border-right: 15px solid rgb(18, 18, 18);
    left: -14px;

}


@media (max-width: 768px) {
    
.timeline{
    margin: 50px auto;

}

.timeline::after{
    left: 30px;
}

.cont{
    width: 100%;
    padding-left: 60px;
    padding-right: 20px;
}

.text-box{
 width: 100%;
 padding: 10px;
}

.right-cont{
     left: 0;
}

.left-cont .dott, .right-cont .dott{
 left: 20px;
}

.left-cont-arrow, .right-cont-arrow{
    border-right: 15px solid rgb(18, 18, 18);
    border-left: 0;
    left: -14px;
}
  
  
  }

/* Education and Experience Section ends */